*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*Restaurant_sign_up_css*/

.header{
box-sizing: border-box;
box-shadow: 0px 1px  1.5px  #707070;
border-width: 200%;
background-color: #fc0e3d;
}
.form{
box-sizing: border-box;
border:3px solid #fc0e3d;
text-align: center;
height: 200%;
width: 80%;
margin:auto;
padding: auto;
border-radius: 2em;
}
.content{
text-align: left;

}
.subject{
font-size: 130%;
color:#fc0e3d;
position: relative;
text-align: left;
font-weight: 600;
}
.input_{
/*padding-left: 5em;*/
text-align: center;
width:50%;
float:right;
color:#3b3b3b;
box-sizing: border-box;

border: 1px solid #fc0e3d;
}
.btnn{
background-color: #fc0e3d;
box-sizing: border-box;
border-radius: 2em;
border: 1px solid #fc0e3d;
text-decoration: none;
color: white;
font-size: 1em;
float: right;

}


.header1{
box-sizing: border-box;
box-shadow: 0px 1px  1.5px  #707070;
border-width: 200%;
background-color:#17ae35;
}

.form1{
box-sizing: border-box;
border:3px solid #17ae35;
text-align: center;
height: 200%;
width: 80%;
margin:auto;
padding: auto;
border-radius: 2em;
}


.btnn1{
background-color: #17ae35;
box-sizing: border-box;
border-radius: 2em;
border: 1px solid #17ae35;
text-decoration: none;
color: white;
font-size: 1em;
float: right;

}

a{
	text-decoration: none;
}
a.hover{
	text-decoration: none;
}
.footer{
position: fixed;
background-color: #707070;
width:100%;
text-align: center;
bottom: 0;
left: 0;
color:white;
}